<div ng-controller="NavbarCtrl">
  <div class="navbar navbar-default navbar-static-top header">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" 
                ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">openbus</a>
      </div>
      <div ng-class="{collapse: isCollapsed}" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav" ng-show="isLoggedIn()">
          <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li ng-show="isAdmin()" role="presentation" ng-class="{active: isActive('/users')}"><a href="/users">{{ 'menu.users.title' | translate }}</a></li>
          <li role="presentation" ng-class="{active: isActive('/accounts')}"><a href="/accounts">{{ 'menu.accounts.title' | translate }}</a></li>
          <li role="presentation" ng-class="{active: isActive('/service/requests')}"><a href="/service/requests">{{ 'menu.service.requests.title' | translate }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn()">
          <li role="presentation"><span class="navbar-text">{{loggedUser.email}}</span></li>
          <li role="presentation"><a href="/settings"><i class="fa fa-cog"></i>&nbsp;</a>
          <li role="presentation"><a href="/" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;</a>
        </ul>        
      </div>
  </div>
  <div ng-class="{collapse: isCollapsed}"  class="navbar navbar-default navbar-static-top subheader navbar-collapse collapse">
    <ul class="nav navbar-nav" ng-show="isLoggedIn() && !isHome()">
      <li ng-repeat="item in submenu" ng-class="{active: isSubActive(item.url)}">
        <a ng-href="{{item.url}}">{{item.title | translate}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="#" ng-click="showAlerts('success')" ng-repeat="alert in alerts | filter:{type: 'success'} as successes" ng-show="$first">
          <i class="text-success fa fa-check-circle"></i>
        </a>
      </li>
      <li>
        <a href="#" ng-click="showAlerts('info')" ng-repeat="alert in alerts | filter:{type: 'info'} as infos" ng-show="$first">
          <i class="text-info fa fa-info-circle"></i>
        </a>
      </li>
      <li>
        <a href="#" ng-click="showAlerts('warning')" ng-repeat="alert in alerts | filter:{type: 'warning'} as warnings" ng-show="$first">
          <i class="text-warning fa fa-warning"></i>
        </a>
      </li>
      <li>
        <a href="#" ng-click="showAlerts('danger')" ng-repeat="alert in alerts | filter:{type: 'danger'} as dangers" ng-show="$first">
          <i class="text-danger fa fa-exclamation-circle"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="row messages" ng-controller="AlertsCtrl">
    <div class="col-sm-offset-7 col-sm-5">
      <div class="show-hide" ng-show="isTypeShown('success')">
        <alert ng-repeat="alert in alerts | filter:{type:'success'}" type="{{alert.type}}" close="closeAlert(alert)">{{alert.message}}</alert>
      </div>
      <div class="show-hide" ng-show="isTypeShown('info')">
        <alert ng-repeat="alert in alerts | filter:{type:'info'}" type="{{alert.type}}" close="closeAlert(alert)">{{alert.message}}</alert>
      </div>
      <div class="show-hide" ng-show="isTypeShown('warning')">
        <alert ng-repeat="alert in alerts | filter:{type:'warning'}" type="{{alert.type}}" close="closeAlert(alert)">{{alert.message}}</alert>
      </div>
      <div class="show-hide" ng-show="isTypeShown('danger')">
        <alert ng-repeat="alert in alerts | filter:{type:'danger'}" type="{{alert.type}}" close="closeAlert(alert)">{{alert.message}}</alert>
      </div>
    </div> 
  </div>
</div>
