<div class="row">
  <!-- Details -->
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="{{'common.details' | translate}}"></panel-heading>
      <panel-body>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="accountId">{{'service.request.description' | translate}}</label>
          <div class="col-sm-9 control-label">
            <span class="pull-left">{{request.description}}</span>
          </div>
        </div>
        <!-- Account -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="accountId">{{'service.request.account' | translate}}</label>
          <div class="col-sm-6 control-label">
            <span class="pull-left">{{request.account.name}}</span>
          </div>
        </div>
        <!-- Employee -->
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'service.request.employee' | translate}}</label>
          <div class="col-sm-6 control-label">
            <span class="pull-left">{{request.employee.fullname}}</span>
          </div>
        </div>
        <!-- Status -->
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'service.request.status' | translate}}</label>
          <div class="col-sm-6 control-label">
            <span class="pull-left">{{request.statusname}}</span>
          </div>
        </div>
      </panel-body>
    </panel>
  </div>
  <!-- Dates -->
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="Date and Time"></panel-heading>
      <panel-body>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="birthdate">{{'service.request.startDate' | translate}}</label>
          <div class="col-sm-3 control-label">
            <span class="pull-left">{{request.startDate | date:'dd/MM/yyyy'}}</span>
          </div>
          <label class="col-sm-3 control-label" for="birthdate">{{'service.request.endDate' | translate}}</label>
          <div class="col-sm-3 control-label">
            <span class="pull-left">{{request.endDate | date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="birthdate">{{'service.request.estimatedTime' | translate}}</label>
          <div class="col-sm-4 control-label">
            <span class="pull-left">{{request.estimatedTime}} {{request.estimatedTimeUnit}}</span>
          </div>
        </div>
      </panel-body>
    </panel>        
  </div>
</div>

<!-- Notes -->
<panel page-header="true">
  <panel-heading title="{{'common.notes' | translate}}"></panel-heading>
  <panel-body>
    <textarea class="form-control" rows="5" readonly>{{request.notes}}</textarea>
  </panel-body>
</panel>