<div class="row">
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="{{'common.details' | translate}}"></panel-heading>
      <panel-body>
        <div class="form-group"> 
          <label class="control-label" for="accountId">{{'service.request.description' | translate}}</label>
          <input id="description" name="description" type="text" class="form-control" ng-model="request.description" required />
          <div ng-messages="requestForm.description.$error" ng-show="requestForm.description.$invalid" class="help-block">
            <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
          </div>
        </div>
        <!-- Account id -->
        <div class="form-group" ng-class="{ 'has-error': requestForm.accountId.$invalid }">
          <label class="control-label" for="accountId">{{'service.request.account' | translate}}</label>
          <input id="accountId" name="accountId" type="hidden" class="form-control" ng-model="request.account.id" required />
          <div class="input-group">
            <input type="text" class="form-control" ng-model="request.account.name" readonly/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="clearAccount()"><i class="fa fa-remove"></i></button>
              <button class="btn btn-default" type="button" ng-click="openAccountSearchModal()"><i class="fa fa-lightbulb-o"></i></button>
            </span>
          </div>
          <div ng-messages="requestForm.accountId.$error" ng-show="requestForm.accountId.$invalid" class="help-block">
            <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
          </div>
        </div>
        <!-- Technician -->
        <div class="form-group" ng-class="{ 'has-error': requestForm.employeeId.$invalid }">
          <label class="control-label" for="employeeId">{{'service.request.employee' | translate}}</label>
          <input id="employeeId" name="employeeId" type="hidden" class="form-control" ng-model="request.employee.id" required />
          <div class="input-group">
            <input type="text" class="form-control" ng-model="request.employee.fullname" readonly/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="clearEmployee()"><i class="fa fa-remove"></i></button>
              <button class="btn btn-default" type="button" ng-click="openEmployeeSearchModal()"><i class="fa fa-lightbulb-o"></i></button>
            </span>
          </div>
          <div ng-messages="requestForm.employeeId.$error" ng-show="requestForm.employeeId.$invalid" class="help-block">
            <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
          </div>
        </div>  
        <!-- Status -->
        <div class="form-group" ng-class="{ 'has-error': requestForm.status.$invalid }">
          <label class="control-label" for="status">{{'service.request.status' | translate}}</label>
          <ui-select name="status" id="status" ng-model="request.status" required>
            <ui-select-match allow-clear="false">{{$select.selected.name | translate}}</ui-select-match>
            <ui-select-choices repeat="value.id as value in statuses | filter: $select.search">
              <div ng-bind-html="value.name | translate | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <div ng-messages="requestForm.status.$error" ng-show="requestForm.status.$invalid" class="help-block">
            <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
          </div>
        </div>      
      </panel-body>
    </panel>
  </div>
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="Date and Time"></panel-heading>
      <panel-body>
         <div class="row">
           <!-- Start Date -->
           <div class="form-group col-sm-6" ng-class="{ 'has-error': requestForm.startDate.$invalid }">
             <label class="control-label" for="startDate">{{'service.request.startEndDate' | translate}}</label>
             <div class="input-group" ng-controller="CommonDatepickerCtrl" ng-init="init(request.startDate)">
               <input type="text" id="startDate" name="startDate" class="form-control" ng-model="request.startDate" ng-required="true" 
                 ng-readonly="isStartDateReadonly()"
                 uib-datepicker-popup="{{format}}" is-open="status.opened" 
                 datepicker-append-to-body="true" show-button-bar="true"
                 datepicker-popup-template-url="/views/directives/datepicker/popup.html"
                 datepicker-template-url="/views/directives/datepicker/datepicker.html"/>
               <span class="input-group-btn">
                 <button type="button" class="btn btn-default" ng-click="openDatepicker($event)" ng-disabled="isStartDateReadonly()"><i class="fa fa-calendar"></i></button>
               </span>
             </div>
             <div ng-messages="requestForm.startDate.$error" ng-show="requestForm.startDate.$invalid" class="help-block">
               <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
               <div ng-message="date">Invalid date</div>
             </div>
           </div>
           <div class="form-group col-sm-6" ng-class="{ 'has-error': requestForm.endDate.$invalid }">
             <label class="control-label" for="endDate">End Date</label>
             <input type="hidden" id="endDate" name="endDate" class="form-control" ng-model="request.endDate" required/>
             <input class="form-control" value="{{request.endDate| date:'dd/MM/yyyy'}}" readonly required/>
             <div ng-messages="requestForm.endDate.$error" ng-show="requestForm.endDate.$invalid" class="help-block">
               <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
             </div>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-sm-6 col-xs-3">
             <label class="control-label" for="estimateTime">{{'service.request.estimatedTime' | translate}}</label>
             <input id="estimatedTime" name="estimatedTime" type="number" class="form-control" ng-model="request.estimatedTime" />
           </div>
           <div class="col-sm-6 col-xs-3">
             <label class="control-label" for="estimateTime">&nbsp;</label>
             <ui-select ng-model="request.estimatedTimeUnit">
               <ui-select-match>{{$select.selected.name | translate}}</ui-select-match>
               <ui-select-choices repeat="value.id as value in estTimeUnits | filter: $select.search">
                 <div ng-bind-html="value.name | translate | highlight: $select.search"></div>
               </ui-select-choices>
             </ui-select>
           </div>
           
         </div>
      </panel-body>
    </panel>
  </div>
</div>

<!-- Notes -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h4 class="form-box-title">
        Notes
      </h4>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-11">
    <textarea id="notes" name="notes" class="form-control" ng-model="request.notes" rows="5"></textarea>
  </div>
</div>

<account-search-modal></account-search-modal>
<employee-search-modal></employee-search-modal>