<div class="row">
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="{{'common.details' | translate}}"></panel-heading>
      <panel-body>
        <div class="form-group"> 
          <label class="control-label" for="accountId">{{'service.request.description' | translate}}</label>
          <input id="description" name="description" type="text" class="form-control" ng-model="request.description" />
        </div>
        <!-- Account id -->
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group" ng-class="{ 'has-error': requestForm.accountId.$invalid }">
              <label class="control-label" for="accountId">{{'service.request.account' | translate}}</label>
              <input id="accountId" name="accountId" type="hidden" class="form-control" ng-model="request.account.id" required />
              <div class="input-group">
                <input type="text" class="form-control" ng-model="request.account.name" readonly/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="clearAccount()"><i class="fa fa-remove"></i></button>
                  <button class="btn btn-default" type="button" ng-click="openAccountSearchModal()"><i class="fa fa-lightbulb-o"></i></button>
                </span>
              </div>
              <div ng-messages="requestForm.accountId.$error" ng-show="requestForm.accountId.$invalid" class="help-block">
                <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </panel-body>
    </panel>
  </div>
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="Date and Time"></panel-heading>
      <panel-body>
         <div class="row">
           <div class="form-group col-sm-6" ng-class="{ 'has-error': requestForm.startDate.$invalid }">
             <label class="control-label" for="birthdate">{{'service.request.startEndDate' | translate}}</label>
             <div class="dropdown">
               <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                 <input type="hidden" id="startDate" name="startDate" class="form-control" ng-model="request.startDate" required/>
                 <div class="input-group">
                   <input value="{{request.startDate | date:'dd/MM/yyyy'}}" class="form-control"/>
                   <span class="input-group-btn">
                     <span class="btn btn-default"><i class="fa fa-calendar"></i></span>
                   </span>
                 </div>
               </a>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                 <datetimepicker 
                   data-ng-model="request.startDate" 
                   data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }"></datetimepicker>
               </ul>
               <div ng-messages="requestForm.startDate.$error" ng-show="requestForm.startDate.$invalid" class="help-block">
                 <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
               </div>
             </div>
           </div>
           <div class="form-group col-sm-6" ng-class="{ 'has-error': requestForm.endDate.$invalid }">
             <label class="control-label" for="endDate">End Date</label>
             <input type="hidden" id="endDate" name="endDate" class="form-control" ng-model="request.endDate" required/>
             <input class="form-control" value="{{request.endDate| date:'dd/MM/yyyy'}}" readonly required/>
             <div ng-messages="requestForm.endDate.$error" ng-show="requestForm.endDate.$invalid" class="help-block">
               <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
             </div>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-sm-6 col-xs-3">
             <label class="control-label" for="estimateTime">{{'service.request.estimatedTime' | translate}}</label>
             <input id="estimatedTime" name="estimatedTime" type="number" class="form-control" ng-model="request.estimatedTime" />
           </div>
           <div class="col-sm-6 col-xs-3">
             <label class="control-label" for="estimateTime">&nbsp;</label>
             <ui-select ng-model="request.estimatedTimeUnit">
               <ui-select-match>{{$select.selected.name | translate}}</ui-select-match>
               <ui-select-choices repeat="value.id as value in estTimeUnits | filter: $select.search">
                 <div ng-bind-html="value.name | translate | highlight: $select.search"></div>
               </ui-select-choices>
             </ui-select>
           </div>
           
         </div>
      </panel-body>
    </panel>
  </div>
</div>

<!-- Notes -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h4 class="form-box-title">
        Notes
      </h4>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-11">
    <textarea id="notes" name="notes" class="form-control" ng-model="request.notes" rows="5"></textarea>
  </div>
</div>

<account-search-modal></account-search-modal>