<form name="accountForm" novalidate>
  <page-header heading="{{'action.edit' | translate}} {{account.typename}}: {{account.name}}">
      <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-primary" type="submit" ng-click="submit(accountForm)" ng-disabled="isSaveDisabled(accountForm)">
          <i class="fa fa-save"></i> {{'action.save' | translate}}
        </button>
        <button class="btn btn-default" ng-click="cancel(accountForm)">
          <i class="fa fa-undo"></i> {{'action.cancel' | translate}}
        </button>
        <button class="btn btn-danger" ng-click="delete(account)">
          <i class="fa fa-trash-o"></i> {{'action.delete' | translate}}
        </button>
      </div>
  </page-header>
  <sidebar>
    <sb-main heading="{{'account.heading.index' | translate}}" nav-to="/accounts"></sb-main>
    <sb-item heading="{{'common.details' | translate}}" icon="info">  
      <account_form></account_form>
    </sb-item>
    <sb-item heading="{{'address.two' | translate }}" icon="map-marker" select="getAddresses()">
      <ng-include src="'views/accounts/partials/_show.address.html'"></ng-include>  
    </sb-item>
    <sb-item heading="{{'employee.two' | translate }}" icon="users" select="getEmployees()">
      <ng-include src="'views/accounts/partials/_account.employees.html'"></ng-include>  
    </sb-item>
  </sidebar>
</form>