<sidebar>
  <sb-main heading="Home" nav-to="/"></sb-main>
  <sb-item heading="{{'common.list' | translate }}" icon="bars">
    <page-header heading="{{'account.heading.index' | translate}}">
      <div class="btn-group" dropdown>
        <a class="btn btn-default" href="/accounts/new">
          <i class="fa fa-plus"></i> {{'actions.create' | translate}}
        </a>
        <a class="btn btn-default" href ng-click="refresh()">
          <i class="fa fa-refresh"></i> {{'actions.refresh' | translate}}
        </a>
      </div>
    </page-header>
    <ng-include src="'views/accounts/partials/_account.index.html'"></ng-include>
  </sb-item>
  <sb-item heading="{{'common.search' | translate }}" icon="search">
    <page-header heading="{{'account.heading.index' | translate}}">
      <div class="btn-group" dropdown>
        <a class="btn btn-default" href="/accounts/new">
          <i class="fa fa-plus"></i> {{'actions.create' | translate}}
        </a>
        <a class="btn btn-default" href ng-click="refresh()">
          <i class="fa fa-refresh"></i> {{'actions.refresh' | translate}}
        </a>
        <a class="btn btn-default">
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </page-header>
    <ng-include src="'views/accounts/partials/_account.adv.index.html'"></ng-include>
  </sb-item>
</sidebar>