<page-header heading="{{accountSafe.name}}" subheading="{{accountSafe.typename}}">
  <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-default" href="/accounts/{{account.id}}/edit">
       <i class="fa fa-edit"></i> {{'action.edit' | translate}}
    </a>
    <button class="btn btn-default" ng-click="openFollowupModal()">
      <i class="fa fa-ellipsis-v"></i> {{'action.followup' | translate}}
    </button>
    <followup-modal></followup-modal>
  </div>
</page-header>

<sidebar>
  <sb-main heading="{{'account.heading.show' | translate}}"></sb-main>
  <sb-item id="overview" heading="{{'common.overview' | translate}}" icon="crosshairs">
    <div class="form-horizontal">
      <ng-include src="'views/accounts/partials/_show.overview.html'"></ng-include>
    </div>
  </sb-item>
  <sb-item id="details" heading="{{'common.details' | translate}}" icon="info">  
    <div class="form-horizontal">
      <ng-include src="'views/accounts/partials/_show.details.html'"></ng-include>
    </div>
  </sb-item>
  <sb-item id="addresses" heading="{{'address.two' | translate }}" icon="map-marker" select="getAddresses()">
    <ng-include src="'views/accounts/partials/_show.address.html'"></ng-include>
  </sb-item>
  <sb-item id="empoyees" heading="{{'employee.two' | translate }}" icon="users" select="getEmployees()">
    <ng-include src="'views/accounts/partials/_account.employees.html'"></ng-include>
  </sb-item>
  <sb-item id="srvRequests" heading="{{'service.request.two' | translate }}" icon="gears" select="getServiceRequests()">
    <ng-include src="'views/accounts/partials/_account.service.requests.html'"></ng-include>
  </sb-item>
</sidebar>