<form name="employeeForm" novalidate>
  <page-header heading="{{'action.edit' | translate}} {{employee.one}}: {{employee.lastname}} {{employee.firstname}}">
    <div class="btn-group" role="group" aria-label="...">
      <button class="btn btn-default" type="submit" ng-click="submit(employeeForm)" ng-disabled="isSaveDisabled(employeeForm)">
        <i class="fa fa-save"></i> {{'action.save' | translate}}
      </button>
      <button class="btn btn-default" ng-click="cancel(employeeForm)">
        <i class="fa fa-undo"></i> {{'action.cancel' | translate}}
      </button>
      <button class="btn btn-danger" ng-click="delete(employee)">
        <i class="fa fa-trash-o"></i> {{'action.delete' | translate}}
      </button>
    </div>    
  </page-header>
  <sidebar>
    <sb-main heading="{{'employee.heading.index' | translate}}" nav-to="/employees"></sb-main>
    <sb-item heading="{{'common.details' | translate }}" icon="user">
      <employee-form></employee-form>
    </sb-item>
  </sidebar>
</form>