<sidebar>
  <sb-main heading="Home" nav-to="/"></sb-main>
  <!-- <sb-item heading="{{'common.list' | translate }}" icon="bars">
    <page-header heading="{{'employee.heading.index' | translate}}">
      <div class="btn-group">
        <a class="btn btn-default" href="/employees/new">
          <i class="fa fa-plus"></i> {{'action.create' | translate}}
        </a>
        <a class="btn btn-default" href ng-click="refresh()">
          <i class="fa fa-refresh"></i> {{'action.refresh' | translate}}
        </a>
      </div>
    </page-header>
  </sb-item> -->
  <sb-item heading="{{'action.search' | translate }}" icon="search">
    <page-header heading="{{'employee.heading.index' | translate}}">
      <div class="btn-group" dropdown>
        <a class="btn btn-default" href="/employees/new">
          <i class="fa fa-plus"></i> {{'action.create' | translate}}
        </a>
        <a class="btn btn-default" href ng-click="refresh()">
          <i class="fa fa-refresh"></i> {{'action.refresh' | translate}}
        </a>
        <a class="btn btn-default">
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </page-header>
    <ng-include src="'views/employees/partials/_employee.search.html'"></ng-include>
  </sb-item>
</sidebar>