<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label">Email</label>
    <div class="col-sm-5 control-label">
      <span class="pull-left">{{user.email}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Name</label>
    <div class="col-sm-5 control-label">
      <span class="pull-left">{{user.fullname}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Firstame</label>
    <div class="col-sm-5 control-label">
      <span class="pull-left">{{user.firstname}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Lastname</label>
    <div class="col-sm-5 control-label">
      <span class="pull-left">{{user.lastname}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Birthdate</label>
    <div class="col-sm-5 control-label">
      <span class="pull-left">{{user.birthdate | date: 'dd/MM/yyyy'}}</span>
    </div>
  </div>
  
</div>