<form name="userForm" novalidate>
<sidebar>
  <sb-main heading="{{'user.heading.edit' | translate}}"></sb-main>
  <sb-item heading="{{'common.details' | translate}}" icon="info">
      <page-header heading="{{user.name || user.email}}" subheading="{{user.rolename}}">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" ng-click="submit(userForm)" ng-disabled="isSaveDisabled(userForm)">
            <i class="fa fa-save"></i> {{'action.save' | translate}}
          </button>
          <button class="btn btn-default" ng-click="cancel(userForm)">
            <i class="fa fa-remove"></i> {{'action.cancel' | translate}}
          </button>
          <button class="btn btn-danger" ng-click="delete(user)">
            <i class="fa fa-trash-o"></i> {{'action.delete' | translate}}
          </button>
        </div>
      </page-header>
      <user-form></user-form>
  </sb-item>
</sidebar>
</form>