<sidebar>
  <sb-main heading="{{'main.title' | translate}}" nav-to="/"></sb-main>
  <sb-item heading="{{'common.list' | translate}}" icon="search">
    <page-header heading="{{'user.heading.index' | translate}}">
      <div class="btn-group">
        <a class="btn btn-default" href="/users/new">
          <i class="fa fa-plus"></i> {{'action.create' | translate}}
        </a>
        <a class="btn btn-default" href ng-click="refresh()">
          <i class="fa fa-refresh"></i> {{'action.refresh' | translate}}
        </a>
        <a table-settings-popover items-by-page="itemsByPage" on-submit="setItemsByPage"></a>
      </div>
    </page-header>
    <ng-include src="'/views/users/partials/_user.index.html'">
  </sb-item>
</sidebar>