<div class="page-header">
  <h4>Users</h4>
</div>
<table class="table table-striped table-bordered">
  <tr>
    <th width="50px"></th>
    <th>{{'user.email' | translate}}</th>
    <th>{{'user.role' | translate}}</th>
    <th>{{'user.firstname' | translate}}</th>
    <th>{{'user.lastname' | translate}}</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>
      <a href="#" ng-click="delete(user, $index)"><i class="fa fa-trash-o"></i></a>
      <a ng-href="/users/{{user.id}}/edit" ><i class="fa fa-edit"></i></a>
    </td>
    <td><a ng-href="/users/{{user._id}}">{{user.email}}</a></td>
    <td>{{user.role}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
  </tr>
</table>
