<sidebar>
  <sb-main heading="{{'user.heading.index' | translate}}" nav-to="/users"></sb-main>
  <sb-item heading="{{'common.details' | translate}}" icon="user">
    <form name="userForm" class="form-horizontal" novalidate>
      <page-header heading="{{'user.heading.new' | translate}}">
        <div class="btn-group" dropdown>
          <button type="submit" class="btn btn-primary" ng-click="submit(userForm)" ng-disabled="isSaveDisabled(userForm)">
            <i class="fa fa-save"></i> {{'action.save' | translate}}
          </button>
          <button type="button" class="btn btn-default" ng-click="cancel(userForm)">
            <i class="fa fa-remove"></i> {{'action.cancel' | translate}}
          </button>
        </div>
      </page-header>
      <user-form></user-form>
    </form>
  </sb-item>
</sidebar>