<div class="page-header">
  <h4>{{'user.actions.new.title' | translate}}
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button class="btn btn-default" ng-click="submit(userForm)" ng-disabled="isSaveDisabled(userForm)">
        <i class="fa fa-save"></i> {{'actions.save' | translate}}
      </button>
      <button class="btn btn-default" ng-click="cancel(userForm)">
        <i class="fa fa-undo"></i> {{'actions.cancel' | translate}}
      </button>
    </div>
  </h4>
</div>
<form name="userForm" class="form-horizontal" novalidate>
  <user-form></user-form>
</form>
