<sidebar>
  <sb-main heading="{{'user.heading.show' | translate}}"></sb-main>
  <sb-item heading="{{'common.details' | translate}}" icon="info">
    <page-header heading="{{user.name || user.email}}" subheading="{{user.rolename}}">
      <div class="btn-group" ng-if="isAdmin()">
        <a class="btn btn-default" ng-href="/users/{{user.id}}/edit"><i class="fa fa-edit"></i> {{'action.edit' | translate}}</a>
      </div>
    </page-header>
    <ng-include src="'views/users/partials/_show.html'"></ng-include>
  </sb-item>
</sidebar>