<div class="page-header">
  <h4>
    <span translate='user.header.title' translate-values="{user: user.fullname || user.email}"></span>
    <div class="btn-group btn-group-sm" role="group" aria-label="..." ng-show="!editMode">
      <a class="btn btn-default"  ng-href="/users/{{user.id}}/edit" 
         ng-click="toggleEditMode()"><i class="fa fa-edit"></i> {{'actions.edit' | translate}}</a>
    </div>    
  </h4>
</div>

<ng-include src="'views/users/_show.html'" ng-hide="editMode"></ng-include>
<ng-include src="'views/users/_form.html'" ng-show="editMode"></ng-include>
