<div class="row">
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="Personal Details"></panel-heading>
      <panel-body>
        <div class="form-group">
          <label for="firstname">{{'user.firstname' | translate}}</label>
          <input id="firstname" name="firstname" type="text" class="form-control" ng-model="user.firstname" />
        </div>
        <div class="form-group">
          <label for="lastname">{{'user.lastname' | translate}}</label>
          <input id="lastname" name="lastname" type="text" class="form-control" ng-model="user.lastname" />
        </div>
        <div class="form-group">
          <label for="birthdate">{{'user.birthdate' | translate}}</label>
          <div class="input-group" ng-controller="CommonDatepickerctrlCtrl">
            <input type="text" id="birthdate" name="birthdate" class="form-control" ng-model="user.birthdate" 
              uib-datepicker-popup="{{format}}" is-open="status.opened" 
              datepicker-append-to-body="true" show-button-bar="false" 
              datepicker-template-url="/views/directives/datepicker/datepicker.html"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatepicker($event)"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
      </panel-body>
    </panel> 
  </div>
  <div class="col-sm-6">
    <panel page-header="true" closable="false">
      <panel-heading title="User Details"></panel-heading>
      <panel-body>
        <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid || errors.email }" >
          <label for="email">{{'user.email' | translate}}</label>
          <input id="email" name="email" type="email" class="form-control" ng-model="user.email" required />
          <div ng-messages="userForm.email.$error" ng-show="userForm.email.$invalid" class="help-block">
            <div ng-message="required">Required</div>
            <div ng-message="email">Invalid email</div>
          </div>
          <div class="help-block" ng-show="errors.email.message">
            <div>{{errors.email.message | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="role">{{'user.role' | translate}}</label>
          <ui-select ng-model="user.role">
            <ui-select-match>{{$select.selected.name | translate}}</ui-select-match>
            <ui-select-choices repeat="value.id as value in roles | filter: $select.search">
              <div ng-bind-html="value.name | translate | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group" ng-class="{ 'has-error': user.employeeId.$invalid }">
          <label class="control-label" for="employeeId">{{'employee.one' | translate}}</label>
          <input id="employeeId" name="employeeId" type="hidden" class="form-control" ng-model="user.employee.id" />
          <div class="input-group">
            <input type="text" class="form-control" ng-model="user.employee.fullname" readonly/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="clearEmployee()"><i class="fa fa-remove"></i></button>
              <button class="btn btn-default" type="button" ng-click="openEmployeeSearchModal()"><i class="fa fa-lightbulb-o"></i></button>
            </span>
          </div>
        </div>
      </panel-body>
    </panel>
  </div>
</div>

<employee-search-modal></employee-search-modal>
