<div class="quick-list">
  <div class="table-responsive">
    <table class="table table-hover resizable" st-table="accounts" st-safe-src="stSafeAccounts">
      <thead>
        <tr class="filters">
          <th> 
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
              <input type="search" st-search="'name'" st-delay="100" class="form-control inline-table-filter" 
                placeholder="Filter for Name">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accounts | filter:search:strict" st-select-row="account" ng-click="select(account)">
          <td>
            <div class="quick-list-item-heading">
              <div class="heading">
                {{account.name}}
                <i class="fa fa-chevron-right icon "></i>
              </div>
              <div class="subheading">
                {{account.typename}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="quick-list-content animate-show" ng-show="account.isSelected">
  <panel>
    <panel-body>
      <panel page-header="true" closable="false">
        <panel-body>
          <ng-include src="'views/accounts/partials/_quick.overview.html'"></ng-include>
        </panel-body>
      </panel>
    </panel-body>
  </panel>
</div>