<panel page-header="true" closable="false">
  <panel-heading title="{{'employee.two' | translate}}">
    <a href ng-click="openRelationshipModal()" ng-if="editMode"><i class="fa fa-plus"></i> {{'action.add' | translate}}</a>
  </panel-heading>
  <panel-body>
    <table class="table table-striped table-hover" st-table="account.employeeRels" st-safe-src="stEmployeeRelsSafe" st-filterable>
      <thead>
        <tr>
          <th class="text-center"><a href="#" uib-tooltip="{{'action.toggleFilters' | translate}}" ng-click="toggleFilters()"><i class="fa fa-filter"></i></a></th>
          <th st-sort="type" st-skip-natural="true" >{{'relationship.type' | translate}}</th>
          <th st-sort="employeeFullname" st-skip-natural="true" >{{'employee.one' | translate}}</th>
        </tr>
        <tr class="filters" ng-show="filtersOn">
          <th></th>
          <th><input st-search="type" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} Type"></th>
          <th><input st-search="employeeFullname" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} Employee name"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rel in account.employeeRels | filter:search:strict">
          <td width="60px" class="text-center">
            <span ng-if="editMode">
              <a href ng-click="editRelationship(rel)" uib-tooltip="{{'action.edit' | translate}}"><i class="fa fa-edit"></i></a>&nbsp;
              <a href ng-click="deleteRelationship(rel)" uib-tooltip="{{'action.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
            </span>
          </td>
          <td width="130px">{{'employee.relationship.type.' + rel.type | translate}}</td>
          <td>{{rel.employeeFullname}}</td>
        </tr>
        <tr ng-repeat="i in Utils.times(5 - account.employeeRels.length) track by $index">
          <td colspan="3">&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-center">
            <div st-pagination="" st-items-by-page="5" st-displayed-pages="5" st-template="views/bootstrap/pagination.html"></div>&nbsp;
          </td>
        </tr>
      </tfoot>
    </table>
  </panel-body>
</panel>
<employee-rel-modal></employee-rel-modal>