<div class="page-header">
  <h4>
    <span translate='account.header.title' translate-values="{account: account.name}"></span>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a class="btn btn-default" href="/accounts/{{account.id}}/edit">
         <i class="fa fa-edit"></i> {{'actions.edit' | translate}}
      </a>
      <button class="btn btn-default" data-toggle="modal" data-target="#followupModal">
        <i class="fa fa-ellipsis-h"></i> {{'actions.followup' | translate}}
      </button>
    </div>
  </h4>
</div>
<div class="form-horizontal">
  <div class="row">
    <div class="col-sm-6">
      <ng-include src="'views/accounts/partials/_show.details.html'"></ng-include>  
    </div>
    <div class="col-sm-6">
      <ng-include src="'views/accounts/partials/_show.address.html'"></ng-include>  
    </div>
  </div>
</div>