<form name="addressForm" class="form-horizontal" novalidate>
  <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row messages" ng-controller="AlertsCtrl">
            <div class="col-sm-offset-7 col-sm-5">
              <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'address.street' | translate}} / {{'address.houseNo' | translate}}</label>
            <div class="col-sm-7" ng-class="{ 'control-label': !editMode, 'has-error': (addressForm.street.$invalid || errors.name) && addressForm.$submitted }">
              <span class="pull-left" ng-hide="editMode">{{addressModal.street}}</span>
              <input id="street" name="street" type="text" class="form-control" ng-model="addressModal.street" ng-show="editMode" required/>
              <div ng-messages="addressForm.street.$error" ng-show="addressForm.street.$invalid && addressForm.$submitted" class="help-block">
                <div ng-message="required">Required</div>
              </div>
              <div class="help-block" ng-show="errors.name.message">
                <div>{{errors.name.message | translate}}</div>
              </div>
            </div>
            <div class="col-sm-2">
              <span class="pull-left" ng-hide="editMode">{{addressModal.houseNo}}</span>
              <input id="houseNo" name="houseNo" type="text" class="form-control" ng-model="addressModal.houseNo" ng-show="editMode"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'address.postalCode' | translate}} / {{'address.city' | translate}}</label>
            <div class="col-sm-2" ng-class="{'control-label': !editMode}">
              <span class="pull-left" ng-hide="editMode">{{addressModal.postalCode}}</span>
              <input id="postalCode" name="postalCode" type="text" class="form-control" ng-model="addressModal.postalCode" ng-show="editMode"/>
            </div>
            <div class="col-sm-7" ng-class="{ 'control-label': !editMode, 'has-error': (addressForm.city.$invalid || errors.name) && addressForm.$submitted }">
              <span class="pull-left" ng-hide="editMode">{{addressModal.city}}</span>
              <input id="city" name="city" type="text" class="form-control" ng-model="addressModal.city" ng-show="editMode" required />
              <div ng-messages="addressForm.city.$error" ng-show="addressForm.city.$invalid && addressForm.$submitted" class="help-block">
                <div ng-message="required">Required</div>
              </div>
              <div class="help-block" ng-show="errors.name.message">
                <div>{{errors.name.message | translate}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'address.telephone' | translate}}</label>
            <div class="col-sm-9" ng-class="{'control-label': !editMode}">
              <span class="pull-left" ng-hide="editMode">{{addressModal.telephone}}</span>
              <input id="telephone" name="telephone" type="tel" class="form-control" ng-model="addressModal.telephone" ng-show="editMode"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'address.email' | translate}}</label>
            <div class="col-sm-9" ng-class="{'control-label': !editMode}">
              <span class="pull-left" ng-hide="editMode">{{addressModal.email}}</span>
              <input id="email" name="email" type="email" class="form-control" ng-model="addressModal.email" ng-show="editMode" required  />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" ng-show="editMode" ng-click="saveAddressModal(addressForm)">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-show="editMode" ng-click="cancel">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="!editMode">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>