<style>
.angular-google-map-container { height: 200px; margin:0; }
</style>

<panel page-header="true">
  <panel-heading title="{{'common.details' | translate}}"></panel-heading>
  <panel-body>
    <div class="row">
      <div class="col-sm-3">
        <address-format heading="account.name" model="account.address"></address-format>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-default" ng-show="account.address">
          <ui-gmap-google-map>
            <ui-gmap-marker coords="map.marker.coords" options="map.marker.options" idkey="map.marker.idkey">
              <ui-gmap-window>
                <address>
                  <strong>{{account.name}}</strong><br>
                  {{account.address.street}} {{account.address.houseNo}}<br>
                  {{account.address.postalCode}} {{account.address.city}}
                </address>
              </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
  </panel-body>
</panel>
<panel>
  <panel-heading title="Last 10 Service Requests">
    <a href ng-click="getServiceRequests(10)"><i class="fa fa-refresh"></i></a>
    <a href="/accounts/{{account.id}}?tab=srvRequests">{{'common.all' | translate}}</a>
    <a href="/service/requests/new?account={{account.id}}">{{'action.new' | translate}}</a>
  </panel-heading>
  <panel-body fill="true">
    <ng-include src="'views/accounts/partials/_srvreq.list.html'"></ng-include>
  </panel-body>
</panel>