<panel page-header="true" closable="false">
  <panel-heading title="{{'address.two' | translate}}">
    <a href ng-click="openAddressModal()" ng-show="editMode"><i class="fa fa-plus"></i> {{'action.add' | translate}}</a>
  </panel-heading>
  <panel-body fill="true">
    <table class="table table-hover table-striped" st-table="displayedAddresses" st-safe-src="account.addresses" st-filterable>
      <thead>
        <tr>
          <th width="60px" class="text-center"><a href="#" uib-tooltip="{{'action.toggleFilters' | translate}}" ng-click="toggleFilters()"><i class="fa fa-filter"></i></a></th>
          <th st-sort="street" st-skip-natural="true" >{{'address.street' | translate}}</th>
          <th st-sort="city" st-skip-natural="true" st-sort-default="description">{{'address.city' | translate}}</th>
          <th st-sort="country" st-skip-natural="true" st-sort-default="description">{{'address.country' | translate}}</th>
          <th></th>
        </tr>
        <tr class="filters" ng-show="filtersOn">
          <th></th>
          <th><input st-search="street" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} Street"></th>
          <th><input st-search="city" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} City"></th>
          <th><input st-search="countryName" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} Country"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="address in displayedAddresses">
          <td width="60px" class="text-center">
            <a ng-hide="editMode" href="#" id="show" ng-click="selectAddress(address)" uib-tooltip="{{'action.show' | translate}}"><i class="fa fa-search"></i></a>
            <a ng-show="editMode" href="#" id="edit" ng-click="selectAddress(address)" uib-tooltip="{{'action.edit' | translate}}"><i class="fa fa-edit"></i></a>
            &nbsp;
            <a ng-show="editMode" href="#" id="delete" ng-click="deleteAddress(address)" uib-tooltip="{{'action.delete' | translate}}"><i class="fa fa-trash-o"></i></a>
          </td>
          <td>{{address.street}} {{address.houseNo}}</td>
          <td>{{address.city}}</td>
          <td>{{address.countryName}}</td>
          <td>
            <span class="label label-primary pull-right" ng-show="address.standard">{{'address.standard_abbr' | translate}}</span>
            <span class="label label-default pull-right" ng-show="!address.standard">{{'address.alternative_abbr' | translate}}</span>
          </td>
        </tr>
        <tr ng-repeat="i in Utils.times(3 - displayedAddresses.length) track by $index">
          <td ng-show="editMode"></td>
          <td colspan="5">&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td ng-show="editMode"></td>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="3" st-displayed-pages="5" st-template="views/bootstrap/pagination.html"></div>&nbsp;
          </td>
        </tr>
      </tfoot>
    </table>
  </panel-body>  
</panel>

<address-modal></address-modal>