<panel page-header="true" closable="false">
  <panel-heading title="{{'common.details' | translate}}"></panel-heading>
  <panel-body>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{'account.name' | translate}}</label>
      <div class="col-sm-3 control-label">
        <span class="pull-left">{{account.name}}</span>
      </div>
      <label class="col-sm-2 control-label">{{'account.type' | translate}}</label>
      <div class="col-sm-3 control-label">
        <span class="pull-left">{{account.typename}}</span>
      </div>
    </div>
  </panel-body>
</panel>