<table class="table table-striped table-hover" st-table="account.serviceRequests" st-safe-src="stSafeRequests" st-filterable>
  <thead>
    <tr>
      <th class="text-center"><a href="#" uib-tooltip="{{'action.toggleFilters' | translate}}" ng-click="toggleFilters()"><i class="fa fa-filter"></i></a></th>
      <th st-sort="startDate" st-skip-natural="true" >{{'service.request.startDate' | translate}}</th>
      <th st-sort="description" st-skip-natural="true" st-sort-default="description">{{'service.request.description' | translate}}</th>
    </tr>
    <tr class="filters" ng-show="filtersOn">
      <th></th>
      <th><input st-search="startDate" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} start date"></th>
      <th><input st-search="description" st-delay="100" class="inline-table-filter input-sm" placeholder="{{'common.filterFor' | translate}} description"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="request in account.serviceRequests | filter:search:strict">
      <td width="80px">
        <a ng-href="/service/requests/{{request.id}}"><i class="fa fa-search"></i></a>
        &nbsp;
        <a ng-href="/service/requests/{{request.id}}/edit"><i class="fa fa-edit"></i></a>
        &nbsp;
        <a href="#" ng-click="delete(request)"><i class="fa fa-trash-o"></i></a>
      </td>
      <td>{{request.startDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{request.description}}</td>
    </tr>
    <tr ng-repeat="i in Utils.times(5 - account.serviceRequests.length) track by $index">
      <td colspan="3">&nbsp;</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center">
        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5" st-template="views/bootstrap/pagination.html"></div>&nbsp;
      </td>
    </tr>
  </tfoot>
</table>
