<nav class="navbar navbar-default navbar-fixed-top header" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" 
              ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">{{'menu.toggleSidebar' | translate}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">openbus</a>
    </div>
    <div ng-class="{collapse: isCollapsed}" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav" ng-show="isLoggedIn()">
        <li ng-show="isAdmin()" ng-class="{active: isActive('/users')}" role="presentation">
          <a href="/users">{{ 'menu.users.title' | translate }}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/employees')}" role="presentation" ><a href="/employees">{{ 'menu.employees.title' | translate }}</a></li>
        <li ng-class="{active: isActive('/accounts')}" role="presentation" ><a href="/accounts">{{ 'menu.accounts.title' | translate }}</a></li>
        <li ng-class="{active: isActive('/service/requests')}" role="presentation" ><a href="/service/requests">{{ 'menu.service.requests.title' | translate }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn()">
        <li ng-show="pageHasSidebar()" ng-click="toggleSidebar()"> <!-- tooltip="{{'menu.toggleSidebar' | translate}}" tooltip-placement="left" tooltip-popup-delay="500"> -->
          <a href>
            <span class="label label-primary no-caret" ng-show="!sidebarOpened">!</span>
            <i class="fa fa-list-ul"></i>
          </a>
        </li>
        <li dropdown>
          <a href="#" class="dropdown-toggle" role="button" aria-expanded="false" dropdown-toggle>
            <span class="label label-danger" ng-show="getAlertsBadge().num > 0">{{getAlertsBadge().num}}</span>
            <i class="fa fa-bell-o"></i> 
            <span class="caret"></span>
          </a>
          <!-- Notification menu -->
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-header">
              {{'menu.notifications.title' | translate}} 
            </li>
            <!-- <li class="divider"></li> -->
            <li ng-repeat="alert in alerts">
              <a href="#"><i class="text-{{alert.type}} fa" 
                ng-class="{'fa-check': alert.type === 'success', 
                           'fa-exclamation-circle': alert.type === 'danger', 
                           'fa-warning': alert.type === 'warning',
                           'fa-info-circle': alert.type === 'info'}"></i> 
                {{alert.message}}
              </a>
            </li>
            <li class="divider" ng-show="alerts.length > 0">
            <li ng-show="alerts.length > 0">
              <a href ng-click="markAllAlertsAsRead()"><i class="fa fa-check-square-o"></i> Mark all as read</a>
            </li>
          </ul>
        </li>
        <li dropdown>
          <a href="#" class="dropdown-toggle" role="button" aria-expanded="false" dropdown-toggle>
            {{loggedUser.email}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-header user-info">
              <!-- {{'menu.currentUser.title' | translate}} -->
              <span class="user-avatar">
                {{loggedUser.firstname.substring(0,1)}}{{loggedUser.lastname.substring(0,1)}} 
              </span>
              {{loggedUser.fullname}}
            </li>
            <li>
              <a href="/users/me">
                <i class="fa fa-user"></i> {{'menu.currentUser.me' | translate}}
              </a>
            </li>
            <li><a href="/settings"><i class="fa fa-cog"></i> {{'menu.currentUser.settings' | translate}}</a></li>
            <!-- <li class="divider"></li> -->
            <li><a href="/" ng-click="logout()"><i class="fa fa-sign-out"></i> {{'menu.currentUser.logout' | translate}}</a></li>
          </ul>
        </li>
      </ul>        
    </div>
  </div>
</nav>