@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSAns-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//@media screen and (-webkit-min-device-pixel-ratio: 0) {
//  @font-face {
//    font-family: 'Montserrat';
//    src: url('../fonts/montserrat-regular-webfont.svg') format('svg');
//  }
//  select {
//    font-family: Arial, Helvetica, sans-serif;
//  }
//}
