<form name="requestForm" novalidate> 
  <sidebar>
    <sb-main heading="{{'service.request.heading.edit' | translate}}" nav-to="/service/requests"></sb-main>
    <sb-item heading="{{ 'common.details' | translate }}" icon="search">
        <page-header heading="{{request.description || '<no description>'}}">
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default" ng-click="submit(requestForm)" ng-disabled="isSaveDisabled(requestForm)">
              <i class="fa fa-save"></i> {{'action.save' | translate}}
            </button>
            <button class="btn btn-default" ng-click="cancel(requestForm)">
              <i class="fa fa-undo"></i> {{'action.cancel' | translate}}
            </button>
            <button class="btn btn-danger" ng-click="delete(user)">
              <i class="fa fa-trash-o"></i> {{'action.delete' | translate}}
            </button>
          </div>
        </page-header>
        <ng-include src="'views/service/requests/partials/_request.form.html'"></ng-include>
    </sb-item>
  </sidebar>
</form>