<sidebar>
  <sb-main heading="{{'service.request.heading.index' | translate}}" nav-to="/service/requests"></sb-main>
  <sb-item heading="{{ 'common.details' | translate }}" icon="search">
    <form name="requestForm" novalidate>
      <page-header heading="{{'service.request.heading.new' | translate}}">
        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default" type="submit" ng-click="submit(requestForm)" ng-disabled="isSaveDisabled(requestForm)">
            <i class="fa fa-save"></i> {{'actions.save' | translate}}
          </button>
          <button class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-undo"></i> {{'actions.cancel' | translate}}
          </button>
        </div>
      </page-header>
      <ng-include src="'views/service/requests/partials/_request.form.html'"></ng-include>
    </form>
  </sb-item>
</sidebar>