<div class="row">
  <div class="col-sm-6">
    <panel page-header="true">
      <panel-heading title="Details"></panel-heading>
      <panel-body>
        <div class="form-group">
          <label class="control-label">{{'employee.firstname' | translate}}</label>
          <input type="text" class="form-control" ng-model="employee.firstname" />
        </div>
        <div class="form-group" ng-class="{ 'has-error': employeeForm.lastname.$invalid }">
          <label class="control-label">{{'employee.lastname' | translate}}</label>
          <input name="lastname" type="text" class="form-control" ng-model="employee.lastname" required />
          <div ng-messages="employeeForm.lastname.$error" ng-show="employeeForm.lastname.$invalid" class="help-block">
            <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
          </div>
          <div class="help-block" ng-show="errors.lastname.message">
            <div>{{errors.lastname.message | translate}}</div>
          </div>
        </div>
      </panel-body>
    </panel>
  </div>
  <div class="col-sm-6">
    <panel page-header="true">
      <panel-heading title="{{'employee.address' | translate}}"></panel-heading>
      <panel-body>
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group" ng-class="{ 'has-error': employeeForm.address_street.$invalid }">
              <label class="control-label">{{'address.street' | translate}}</label>
              <input name="address_street" type="text" class="form-control" ng-model="employee.address.street" required />
              <div ng-messages="employeeForm.address_street.$error" ng-show="employeeForm.address_street.$invalid" class="help-block">
                <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label">House No</label>
              <input name="address_houseNo" type="text" class="form-control" ng-model="employee.address.houseNo" />
            </div>
          </div>
        </div>        
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{'address.postalCode' | translate}}</label>
              <input name="address_postalCode" type="text" class="form-control" ng-model="employee.address.postalCode" />
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group" ng-class="{ 'has-error': employeeForm.address_city.$invalid }">
              <label class="control-label">{{'address.city' | translate}}</label>
              <input name="address_city" type="text" class="form-control" ng-model="employee.address.city" required />
              <div ng-messages="employeeForm.address_city.$error" ng-show="employeeForm.address_city.$invalid" class="help-block">
                <div ng-message="required">{{'messages.general.errors.required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': (employeeForm.address_country.$invalid || errors.name) }">
          <label class="control-label">{{'address.country' | translate}}</label>
          <div ng-class="{'control-label': !editMode}">
            <div class="input-group">
              <input name="address_country" type="text" class="form-control" ng-model="employee.address.countryName" 
                typeahead="country.name.common for country in countries | filter:$viewValue | limitTo: 10" 
                typeahead-on-select="countrySelected($item)"
                class="form-control" required /> 
              <span class="input-group-btn">
                <a class="btn btn-default" type="button" ng-click="openCountriesModal(employee.address.country, employeeForm)"><i class="fa fa-lightbulb-o"></i></a>
              </span>
            </div>
            <div ng-messages="employeeForm.address_country.$error" ng-show="employeeForm.address_country.$invalid" class="help-block">
              <div ng-message="required">Required</div>
            </div>
          </div>
        </div>
        <countries-modal></countries-modal>
        
      </panel-body>
    </panel>
  </div>
</div>
