<div class="row">
  <div class="col-sm-3" ng-show="isAdmin()">
    <div class="thumbnail">
      <div class="text-center">
        <a href="/users">
          <i class="fa fa-users fa-5x"></i>
        </a>
        <div class="caption">
          <h3>{{'menu.users.title' | translate}}</h3>
          <p>{{'main.users.descr' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="thumbnail">
      <div class="text-center">
        <a href="/accounts">
          <i class="fa fa-users fa-5x"></i>
        </a>
        <div class="caption">
          <h3>{{'menu.accounts.title' | translate}}</h3>
          <p>{{'main.accounts.descr' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="thumbnail">
      <div class="text-center">
        <a href="/service/requests">
          <i class="fa fa-cogs fa-5x"></i>
        </a>
        <div class="caption">
          <h3>{{'menu.service.requests.title' | translate}}</h3>
          <p>{{'main.service.requests.descr' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="fa fa-check"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->