<div class="page-content no-sidebar">
  <div class="row">
    <div class="col-sm-3" ng-show="isAdmin()">
      <div class="thumbnail">
        <div class="text-center">
          <a href="/users">
            <i class="fa fa-users fa-5x"></i>
          </a>
          <div class="caption">
            <h3>{{'menu.users.title' | translate}}</h3>
            <p>{{'main.users.descr' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="text-center">
          <a href="/accounts">
            <i class="fa fa-users fa-5x"></i>
          </a>
          <div class="caption">
            <h3>{{'menu.accounts.title' | translate}}</h3>
            <p>{{'main.accounts.descr' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="text-center">
          <a href="/service/requests">
            <i class="fa fa-cogs fa-5x"></i>
          </a>
          <div class="caption">
            <h3>{{'menu.service.requests.title' | translate}}</h3>
            <p>{{'main.service.requests.descr' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>